{
    "presets": [
        "react",
        [
            "env",
            {
                "targets": {
                    "chrome": 60
                },
                "modules": false
            }
        ]
    ]
}
